@{
    ViewData["Title"] = "About Us";
}

<h2>About Us</h2>

<p>We are YemekTarifiWeb — a dynamic recipe platform aiming to brighten up your dining tables with delicious and easy-to-make recipes.  
Since our establishment, we have been committed to providing reliable and rich content for everyone who loves cooking.  
By collaborating with professional chefs and amateur cooks, we create recipes that appeal to every taste.</p>

<p>Our mission is to offer healthy, practical, and delicious recipes to our users and help them make new discoveries in the kitchen.</p>
